.service{
    height: 100hv;
  
}

.text-center p{
    text-align: center;
}

.overflow-auto {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .d-flex {
    flex: 0 0 auto;
    margin-right: 15px; /* Jarak antara setiap elemen */
  }
  
  .square-image {
    object-fit: cover;
    width: 200px; /* Sesuaikan lebar gambar */
    height: 200px; /* Sesuaikan tinggi gambar */
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  